<?xml version="1.0" ?>
<model>
    <name>Ultra Wide Band Sensor</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Mohammad Khusnul Khuluq</name>
        <email>khusnul.ninno15@gmail.com</email>
    </author>
    <description>
        A model of an Ultra Wide Band (UWB) sensor.
    </description>
    <license>MIT</license>
    <keywords>
        uwb
        sensor
        gazebo
    </keywords>
    <category>sensor</category>
</model>
